<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="honr.gamedesign.plantsinspace"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity 
            android:name=".activities.MainActivity" 
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Question1Activity"></activity>
        <activity android:name=".activities.Question2Activity"></activity>
        <activity android:name=".activities.LoadingActivity"></activity>
        <activity android:name=".activities.OutputActivity"></activity>
    </application>

</manifest>
